{% extends 'admin.html.twig' %}

{% block title %}Confirmation suppression{% endblock %}

{% block content %}

<div class="alert alert-danger">Vous avez supprimé la réunion {{ reunionTrouvee.getTitre() }}. Vous allez être redirigé·e vers la liste des réunions</div>


{% endblock %}