{% extends 'base.html.twig' %}

{% block title %}Détails d'un compte rendu{% endblock %}

{% block content %}
  <div class="alert alert-danger">Vous allez être redirigé·e vers la liste des réunions</div>
{% endblock %}
