.bg-section-back {
	border-radius: 5px;
}

.small-title {
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

.btn-link-red {
    box-shadow: 1px 5px 5px red;
}


/* Pages de gestion balades et photos */

.scrolling-table {
	overflow-x: auto;
}

.admin-table-mg {
	width: 100%;
	min-width: 800px;
}

.admin-table-mg thead th {
	text-align: center;
}

.admin-table-mg tbody tr {
	border-top: 1px solid #ccc;
	margin-top: 1em;
	padding-top: 1em;
}

.admin-table-mg a.btn {
	display: inline-block;
	width: 3em;
	margin: .2em 0;
}

.admin-table-mg .title {
	font-size: 120%;
}


.admin-fig-photo {
	width: 8em;
	height: 8em;
	border-radius: .5em;
	margin: 0;
	/*border: 1px solid #000;*/
	/*box-shadow: 1px 5px 5px #000;*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.admin-fig-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
}
/* Pages de gestion reunions et cr */

.btn-reu {
	width: 3em;
}
