*, *:before, *:after {
 box-sizing: inherit;
}

/* STRUCTURE */

html { 
  	box-sizing: border-box;
	height:100%;
  	width: 100%;
  	font-family: 'arial', sans-serif;
}

body{

	width: 100%;
  	min-height: 100%;
  	overflow-x: hidden;
  	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color:#fff;
	font-family: 'arial';
	padding: 0;
	margin:0;
}

#top-content{
	background: url(../images/img3.jpg);
	background-size: cover;
	background-attachment: fixed;

}
nav{
	min-height: 4em;
	background: rgb(46, 127, 240);
	box-shadow: 1px 5px 5px black;	
}


main > .container {
	background-color:#c0c0c099;
	border-radius: 5px;
}


/* COMMON CLASSES*/

section {
	padding-left: 1em;
	padding-right: 1em;
}

h1{
	color: #000;
	text-shadow: 1px 1px 1px #fff;
}

h2{
	text-transform: uppercase;
	color: #000;
	text-shadow: 1px 5px 5px #fff;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 3.5em;
	text-align: center;
}

.policy {
	font-size: 2.5em;
}


 /********************************* header *************************/

.name-asso {
	font-size: 1.9em;
	padding: 0.5em 0;
	margin: 0;
}

/*@media screen and (){
	.name-asso{
		font-size: 1.5em;
		padding-top: 0.5em;
	}
}*/

.logo-div {
	padding-top: 1em;
}

.logo {
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	margin: 0 auto;
	border: 1px solid #000;
	box-shadow: 1px 5px 5px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 6em;
	height: 6em;
}

.logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
}
/**************************** navbar ****************************/
nav ul li a{
	font-weight: bold;
	line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active{
	background: #fff;
}

.nav-perso{
	background: #1c69d4;
}

.navbar-light .navbar-nav .nav-item .nav-perso:hover,
.navbar-light .navbar-nav .nav-item.active .nav-perso {
	background: #1c69d4;
	color: #fff;
}
#menu-perso{
	position: absolute;
	right: 0;
}

.btn-nav-item {
	margin-bottom: auto;
	margin-top: auto;
}

.icon-connexion{
	font-size: 2em;

}
.connexion-perso{
	display: flex;
	justify-content: end;
	align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.dropdown-menu-perso{
	width: min-content;
	margin-left: -4.5em;
}




/****************************************** Contenu des pages ******************************************************/


/******* intro *********/



/********************** PAC et map *****************************/

.subscribe{
	position: relative;
	width: 65vw;
	height: 15vh;
	line-height: 70px;
	text-align: center;
	font-size: 50px;
	color: #009ada;
	text-decoration: none;
	background: linear-gradient(to right, #acb6e5, #86fde8);
	box-shadow: 1px 5px 5px #acb6e5;	         	
}

.subscribe:hover{
	text-decoration: none;
}

.subscribe svg,
.subscribe svg rect{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}

.subscribe svg rect{
	stroke: #32547d;
	stroke-width: 4;
	transition: 2s;
	stroke-dasharray: 70 250;
	stroke-dashoffset: 390;
}

.subscribe:hover svg rect{
	stroke: #2eca94;
	stroke-dasharray: 250 70;
	stroke-dashoffset: 0;
}

.map{
	box-shadow: 1px 5px 5px grey;

}

/**************************** formulaire de contact ***********************************/
.parallax {
	background: url(../images/img2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.form-perso{
	background-color: rgba(255,255,255,0.75);
}

/********************** portfolio ************************/

.cadre {
	border-radius: 4px;
}

.img-port{

	height: 15em;
}

/********** footer ********/

footer{
	background-color:#1c69d4;
	/*46, 127, 240*/
	position: relative;
	height: 1.8em;
	width: 100%;
	padding: .8em;
}

.colorlink{
	color: black;
}

.footerlink{
	color: black;
}

.footerlink:hover{
	color: white;
	text-decoration: none;
}
	
/*Medias queries*/


/*moyen*/
@media screen and (min-width: 360px) and (max-width:768px) {
	/*.name-asso {
		font-size :2em;	
	}*/
	h2 {
		font-size : 2.5em;
	}
	.policy {
		font-size: 2em;
	}	
}

/*petit*/
@media screen and (max-width: 360px){
	/*.name-asso{
		font-size: 1.5em;
	
	}*/
		h2 {
		font-size : 2em;
	}
	.policy {
		font-size: 1.5em;
	}	
}

