/*********** header**************/

header {
	padding: 0;
	background: url(../images/img3.jpg);
	background-size: cover;
	height: 87vh;
}

/************ content ************/
body{
/*#top-content{*/
	background: url();
}

h2{
	text-shadow: 1px 1px 1px #000;
}


main > .container {
	box-shadow: 1px 5px 5px lightgrey;
	background-color:#ffffff99;
}
#contact{
	text-shadow: 1px 1px 1px #fff;
}

.arrow-perso{
	z-index: 1080;
}
/*
.name-asso {
	font-size: 5em;
	padding-top: 0.5em;
}

.logo-div {
	padding-top: 2.5em;
}

.logo {
	width: 10em;
	height: 10em;
}*/

/*********** queries*******/ 
/*
/*Grand*/
/*@media screen and (min-width: 992px) and (max-width: 1200px) {
	.name-asso {
		font-size :4em;	
	}
	
}

/*Grand*/
/*@media screen and (min-width: 768px) and (max-width: 992px) {
	.name-asso {
		font-size :3em;	
	}
	
}


/*Moyen*/
/*@media screen and (min-width: 360px) and (max-width:768px) {
	.name-asso {
		font-size :2em;	
	}
}

/*Petit*/
/*@media screen and (max-width: 360px){
	.name-asso{
		font-size: 1.5em;
		
	}
}
*/