/*********** header**************/

header {
	height: 25em;
}

.name-asso {
	font-size: 5em;
	padding-top: 0.5em;
}

.logo-div {
	padding-top: 2.5em;
}

.logo {
	width: 10em;
	height: 10em;
}

/*********** queries*******/ 

/*Grand*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.name-asso {
		font-size :4em;	
	}
	
}

/*Grand*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.name-asso {
		font-size :3em;	
	}
	
}


/*Moyen*/
@media screen and (min-width: 360px) and (max-width:768px) {
	.name-asso {
		font-size :2em;	
	}

	.cardSwip{
		width: 350px;
	}
	.cardSwip .content{
		width: 350px;
	}
}

/*Petit*/
@media screen and (max-width: 360px){
	.name-asso{
		font-size: 1.5em;
		
	}
}

@media screen and (max-width: 414px){

	.cardSwip{
		width: 290px;
	}
	.cardSwip .content{
		width: 290px;
	}
}

@media screen and (max-width: 769px){
	
	.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top{
		width: 100%;
		margin-left: 25px;
	}
}

@media screen and (max-width: 460px){
	
	.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top{
		width: 0;
	}
}