{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}
{% block stylesheets %}
    <!-- Lien du CSS albums -->
    <link rel="stylesheet" type="text/css" href="/css/stylesalbums.css">
 {% endblock %}

{% block content %}

    <section class="py-2 mb-5">
        <h2 class="pt-3 pb-5">Albums</h2>
        <div id="content">
            <div class="row">
                {% for fPh in albums %}
                    <div class="col-12 col-lg-4">  
                        <a href ="{{ path('view_album',{id: fPh.getBal().getId()}) }}">
                            <figure class="album-fig">
                                <figcaption class="album-title"><b>{{ fPh.getBal().getTitre() }}</b></figcaption>
                                <img class="img-fluid" src="{{ '/' ~ uploadDir ~ fPh.getFileName() }}">
                            </figure>            
                         </a>
                        <!-- <div>{{ fPh.getLegende() }}</div> -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>  

{% endblock %}

{% block javascripts %}
	<!-- Script bootstrap
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
    <!-- Script jquery -->
    	<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <!-- script fancybox -->
    	<script src = "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  	<!--<script src="test_francy.js"></script> -->
{% endblock %}


