{% extends 'base.html.twig' %} 

{% block title %}Se connecter{% endblock %}


{% block content %}
  <section class="py-2 mb-5">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Se connecter</div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Adresse email</label>
                  <input type="email" id="email" name="email" class="form-control" value="{{donnees_saisies.email ?? ''}}" required autofocus>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input type="password" id="password" name="password" class="form-control" required>
                </div>
              </div>
            </div>
          </div>
          {% if errors is not empty %}
              <div class="alert alert-warning">
                  {{ errors|join('<br>')|raw }} 
              </div>
          {% elseif success == true %}
              <div class="alert alert-success">
                  Bienvenue <strong>{{user.getPrenom}}</strong>, vous allez être redirigé(e) dans quelques secondes.
              </div>
          {% endif %}
          <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="Se connecter">
          </div>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="inscription">S'inscrire</a>
          <a class="d-block small" href="forgot-password">Mot de passe oublié ?</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}