{% extends 'base.html.twig' %}
{% block title %}404 Error{% endblock %}

{% block content %}
<!-- Page Content -->
<h1 class="display-1">404</h1>
<p class="lead">Page non trouvée. Vous pouvez
  <a href="javascript:history.back()">revenir</a>
  à la page précédente ou 
  <a href="{{ path('accueil')}}">retourner à la page d'accueil</a>.
</p>
{% endblock %}
     