{% extends 'admin.html.twig' %}

{% block title %}SB Admin - Blank Page{% endblock %}

<!-- Page Content -->
{% block content %}
<h1>Blank Page</h1>
<hr>
<p>This is a great starting point for new custom pages.</p>
{% endblock %}
      