{% extends 'admin.html.twig' %}

{% block title %}Espace Perso{% endblock %}

{% block content %}
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          En cliquant sur les onglets de la barre de navigation latérale gauche, vous pouvez gérer : 
      </li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100 clearfix small z-1">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-user-edit"></i>
          </div>
          <div class="mr-5 small-title">Votre profil</div>
          <p>"Mon profil" : vous accederez à la page contenant vos informations personnelles, votre avatar etc.</p>
        </div>
        
      </div>
    </div>

    {% if 'adherent' in app.session.get('ranks') %}

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100 clearfix small z-1">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-road"></i>
            </div>
            <div class="mr-5 small-title">Les balades</div>
            <p>"Balades" : vous pourrez proposer une balade, gérer les balades existantes, mais aussi gérer les photos publiées.
            </p>
          </div>
        </div>
      </div>
     {% endif %} 

    {% if 'bureau' in app.session.get('ranks') %}
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100 clearfix small z-1">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-copy"></i>
            </div>
            <div class="mr-5 small-title">Les réunions et les comptes rendus</div>
              <p>"Réunions" : vous verrez un menu déroulant vous proposant d'ajouter une réunion ou d'accéder à la liste des réunions.</p>
          </div>
        </div>
      </div>


      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-secondary o-hidden h-100 clearfix small z-1">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-users-cog"></i>
            </div>
            <div class="mr-5 small-title">La liste des membres</div>
              <p>"Utilisateurs", vous accéderez à la liste de tous les membres inscrits.</p>
          </div>
        </div>
      </div>

    {% endif %}

  </div>
{% endblock %}
